.fabs  {
    visibility: hidden;
}

#IOFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    height: 100%;
}

#input_wrapper, #renderPoint {
    flex: 1 1 1;
    margin: 2vh 2vw 2vh 2vw;
    width: 45vw;
}

#renderPoint {
    border-style: solid;
    border-color: grey;
}

@media (max-width: 1000px) {
    #input_wrapper, #renderPoint {
        width: 100vw;
        min-height: 95%;
    }

    .fabs  {
        visibility: visible;
    }
}